@import "normalize.css";

@import "./fontello.css";
@import "../font/fonts.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

.border {
  border: 1px solid #0d6efd;
  border-radius: 10px;
  background-color: #fff;
}
