@import "normalize.css";

@import "./fontello.css";
@import "../font/fonts.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

.border {
  border: 1px solid #0d6efd;
  border-radius: 10px;
  background-color: #fff;
}
body{
  background-image: url("https://klike.net/uploads/posts/2022-10/1666595471_1.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
